* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffcc00;
  --green: #005245;
  --font-titel: 'Frutiger Next', serif;
  --font-text: 'ff-meta-serif-web-pro', serif;
  --white: #ffffff;
}

body {
  background-image: url('/images/mainbg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500em;
}

header {
  background-color: var(--yellow);
  display: inline-block;
  width: 100%;
}

.header-container {
  padding: 1.2em 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 6em;
}

.fa-bars {
  color: var(--green);
}

.h1 {
  font-family: var(--font-titel);
  color: var(--white);
  font-weight: 500;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
  margin-left: 2.4em;
  margin-top: 2.4em;
  line-height: 1.22em;
}

.main-button {
  margin-left: 11em;
  margin-top: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25em solid var(--green);
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border-radius: 40em;
  padding: 0.6em 2em 0.6em 2em;
  font-family: var(--font-titel);
  font-size: 0.875rem;
}

.chevron {
  background-color: transparent;
  border-right: 0.22em solid var(--green);
  border-top: 0.22em solid var(--green);
  transform: translateX(-25%) rotate(45deg);
  height: 1.3em;
  width: 1.3em;
  margin-left: 1.3em;
  border-top-left-radius: 0.15em;
  border-bottom-right-radius: 0.15em;
  border-bottom-left-radius: 0.15em;
  border-top-right-radius: 0.15em;
  border-start-start-radius: 0.15em;
}

.mountains-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 33% 72%;
  grid-template-rows: 50% 50%;
}

.mountain-left {
  width: 50em;
}

.mountain-right {
  width: 60em;
  margin-top: 18em;
}

.popup {
  height: 128.5em;
}

.main {
  margin-top: 500em;
}
