* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffcc00;
  --green: #005245;
  --font-titel: 'Frutiger Next', serif;
  --font-titel-bold: 'FrutigerNextPro-Bold', serif;
  --font-text: 'ff-meta-serif-web-pro', serif;
  --white: #ffffff;
}

body {
  background-image: url('/images/mainbg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 231em; */
}

main {
  height: 259.1em;
}

header {
  background-color: var(--yellow);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-container {
  padding: 1.2em 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 6em;
}

.fa-bars {
  color: var(--green);
}

.h1 {
  font-family: var(--font-titel-bold);
  color: var(--white);
  font-style: normal;
  font-size: 3.8rem;
  margin-left: 2.4em;
  margin-top: 3.7em;
  line-height: 1.22em;
}

.main-button {
  margin-left: 11em;
  margin-top: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25em solid var(--green);
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border-radius: 40em;
  padding: 0.5em 1.9em 0.5em 1.9em;
  font-family: var(--font-titel);
  font-size: 0.875rem;
}

.button-text {
  color: var(--green);
  line-height: 1.3em;
}

button:focus {
  outline: none;
}

.chevron {
  background-color: transparent;
  border-right: 0.22em solid var(--green);
  border-top: 0.22em solid var(--green);
  transform: translateX(-25%) rotate(45deg);
  height: 1.3em;
  width: 1.3em;
  margin-left: 1.33em;
  border-top-left-radius: 0.15em;
  border-bottom-right-radius: 0.15em;
  border-bottom-left-radius: 0.15em;
  border-top-right-radius: 0.15em;
  border-start-start-radius: 0.15em;
}

.mountains-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 33% 72%;
  grid-template-rows: 50% 50%;
}

.mountain-left {
  width: 50em;
}

.mountain-right {
  width: 60em;
  margin-top: 18em;
}

.popup {
  height: 201em;
}

/*------------------------------------FOOTER---------------------------------------*/

.container-footer {
  background-color: var(--white);
  opacity: 70%;
  text-align: center;
  padding: 3em;
  margin: auto;
  font-family: var(--font-titel);
  color: var(--green);
  font-size: 0.75em;
}

a {
  text-decoration: none;
}

.text-one-footer {
  display: flex;
  justify-content: center;
}

.text-two-footer {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 0em 1em 0em 1em;
}

.text-one-footer {
  padding-bottom: 1.2em;
}

hr {
  width: 5em;
  margin: auto;
  height: 0.1em;
  background-color: var(--green);
  border: none;
}

.text-two-footer {
  padding-top: 1.2em;
}

.cart-button {
  border: 0.05em solid var(--green);
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border-radius: 0.25em;
  padding: 0.5em 1.9em 0.5em 1.9em;
  font-family: var(--font-titel);
  font-size: 0.875rem;
  margin-top: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  margin-bottom: 1.7em;
}

.flex-button {
  display: flex;
  justify-content: center;
}

.cart {
  margin-right: 1em;
}

.follow-ricola-text {
  font-family: var(--font-titel-bold);
  margin-bottom: 1.65em;
  font-size: 0.73rem;
}

.icons {
  display: flex;
  justify-content: center;
}

.social-icons {
  height: 2em;
  padding: 0em 1.5em 0em 1.5em;
}
